<div class="hero-unit">
<h1>Omrails</h1>
<p>
  Welcome to the my sample application with
  <%= link_to "Ruby on Rails.", "http://rubyonrails.org/"%>
</p>
<p>
  <%= link_to "Sign Up!", "#", class: "btn btn-primary btn-large" %>
</p>
</div>